<div class="col-lg-5">
    <h1 class="h1-strong">{{title}}</h1>

    <div class="alert alert-success" *ngIf="status == 'success'">
        Se han actualizado tus datos correctamente!!
    </div>

    <div class="alert alert-danger" *ngIf="status == 'error'">
        No se han podido actualizar tus datos!!
    </div>

    <form #userEditForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-12">

        <!-- ENTRADA PARA EL NOMBRE-->
        <p>
            <label for="name">Nombre</label>
            <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="visit.nombre" class="form-control"
                required />
            <span *ngIf="!nombre.valid && nombre.touched"> El dato es obligatorio</span>
        </p>

        <!-- ENTRADA PARA EL CORREO-->
        <p>
            <label for="name">Correo</label>
            <input type="email" name="correo" #correo="ngModel" [(ngModel)]="visit.correo" class="form-control"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required />
            <span *ngIf="!correo.valid && correo.touched"> El dato es obligatorio</span>
        </p>
        <!-- ENTRADA PARA EL CELULAR-->
        <p>
            <label for="name">Celular</label>
            <input type="number" name="celular" #celular="ngModel" [(ngModel)]="visit.celular" class="form-control"
                required />
            <span *ngIf="!celular.valid && celular.touched"> El dato es obligatorio</span>
        </p>
        <!-- ENTRADA PARA EL COMENTARIO-->
        <p>
            <label for="name">Comentario</label>
            <input type="text" name="comentario" #comentario="ngModel" [(ngModel)]="visit.comentario"
                class="form-control" required />
            <span *ngIf="!comentario.valid && comentario.touched"> El dato es obligatorio</span>
        </p>
        <!-- ENTRADA PARA EL MOTIVO DE VISITA-->
        <p>
            <label for="name">Motivo de visita</label>
            <select class="browser-default custom-select" name="motivo_visita" #motivo_visita="ngModel"
                [(ngModel)]="visit.motivo_visita" required>
                <option value="Compra">Compra</option>
                <option value="Venta">Venta</option>
                <option value="Alquiler">Alquiler</option>
            </select>
            <span *ngIf="!motivo_visita.valid && motivo_visita.touched"> El dato es obligatorio</span>
        </p>

        <input type="submit" value="{{title}}" class="btn btn-warning" [disabled]="!userEditForm.form.valid">
    </form>
</div>